<%= form_with(model: move, local: true) do |form| %>
  <% if move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
        <% move.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :action %>
    <%= form.text_field :action, :class => "form-control" %>
  </div>

  <div class="form-group d-none">
    <%= form.collection_select :drone_id, Drone.order(:name), :id, :name, :selected => params[:drone], :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Move drone!", :class => "btn btn-primary" %>
  </div>
<% end %>
