<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @move.action %>
</p>

<p>
  <strong>Drone:</strong>
  <%= @move.drone.name %>
</p>

<%= link_to 'Edit move', edit_move_path(@move), :class => "btn btn-primary"%> 

<%= link_to 'Destroy move', @move, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>