<%= form_with(model: drone, local: true) do |form| %>
  <% if drone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drone.errors.count, "error") %> prohibited this drone from being saved:</h2>

      <ul>
        <% drone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, :class => "form-control" %>
    <small class="form-text text-muted">Create or find your drone by name</small>
  </div>

  <div class="form-group">
    <div class="actions f-right">
      <%= form.submit "Go to moves!", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
