<p id="notice"><%= notice %></p>

<h3>
  <%= @drone.name %> Drone
</h3>

<table class="table">
  <thead>
    <tr>
      <th>Action</td>
      <th>Position</td>
      <th></td>
    </tr>
  </thead>
  <tbody>
    <% @drone.moves.each do |move| %>
      <tr>
        <td><%= move.action %></td>
        <td><%= position(move.action) %></td>
        <td><%= link_to "Edit move", edit_move_path(move), :class => "btn btn-sm btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit drone', edit_drone_path(@drone), :class => "btn btn-primary"%> 

<%= link_to 'Destroy drone', @drone, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>